.section {
    border: 1px solid #ccc;
    background: rgba(14,14,14,.02);
    padding: 24px;
    margin: 36px 0;
}
.markup {
    border: 1px solid #ccc;
    background: rgba(14,14,14,.02);
    margin-top: -12px;
    margin-bottom: 24px;
    padding: 12px;
}
